body {
    background-color: #0d1117;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: white;
    margin: 10px 0;
    text-align: center;
  }

  a {
    color: #4493f8;
    text-decoration: none;
    font-size: 1.2em;
  }

  a:hover {
    text-decoration: underline;
  }

  .tabs {
    text-align: center;
    padding: 10px;
  }

  .tabs a {
    margin: 5px;
  }

  .tabs a:hover {
    text-decoration: none;
  }

  .selected {
    font-weight: bold;
  }

  .selected:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .container {
    text-align: center;
    padding: 20px;
  }

  .github-buttons {
    margin-top: 10px;
    text-align: center;
  }

  .items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    max-width: 935px;
    margin: 0 auto;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #444;
    background-color: #2b2b2b;
  }

  .item img {
    width: auto;
    height: 170px;
    max-width: 300px;
  }

  .back-arrow {
    border-radius: 7px;
  }

  .back {
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-decoration: none;
    padding: 0;
    line-height: 1;
    margin: 10px;
}


  .back:hover {
    text-decoration: none;
    font-weight: bold;
  }

  /* Responsive adjustments */
  @media (max-width: 600px) {
    .items-container {
      grid-template-columns: repeat(2, 1fr);
    }

    a {
      font-size: 1em;
    }
  }

  @media (max-width: 400px) {
    .items-container {
      grid-template-columns: 1fr;
    }
  }